<template>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
style="enable-background:new 0 0 60 60;" xml:space="preserve" width='60px'> 
<g>
	<path style="fill:#F18D46;" d="M30,57c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1s1,0.447,1,1v2C31,56.553,30.553,57,30,57z"/>
	<path style="fill:#556080;" d="M30,5c-0.553,0-1-0.447-1-1V1c0-0.553,0.447-1,1-1s1,0.447,1,1v3C31,4.553,30.553,5,30,5z"/>
	<rect x="26" y="11" style="fill:#556080;" width="8" height="8"/>
	<polygon style="fill:#48A0DC;" points="34,11 26,11 28,4 32,4 	"/>
	<path style="fill:#F18D46;" d="M46,60c-0.553,0-1-0.447-1-1v-3c0-0.553,0.447-1,1-1s1,0.447,1,1v3C47,59.553,46.553,60,46,60z"/>
	<path style="fill:#F18D46;" d="M14,60c-0.553,0-1-0.447-1-1v-3c0-0.553,0.447-1,1-1s1,0.447,1,1v3C15,59.553,14.553,60,14,60z"/>

	<rect x="23" y="47" style="fill:#556080;" width="4" height="4"/>
	<path style="fill:#ECF0F1;" d="M43,27v23v2h6v-2V27c0-1.657-1.343-3-3-3h0C44.343,24,43,25.343,43,27z"/>
	<rect x="44" y="52" style="fill:#38454F;" width="4" height="4"/>
	<path style="fill:#ECF0F1;" d="M11,27v23v2h6v-2V27c0-1.657-1.343-3-3-3h0C12.343,24,11,25.343,11,27z"/>
	<g>
		<path style="fill:#35495E;" d="M49,29h-6c-0.553,0-1,0.447-1,1s0.447,1,1,1h6c0.553,0,1-0.447,1-1S49.553,29,49,29z"/>
		<path style="fill:#35495E;" d="M17,29h-6c-0.553,0-1,0.447-1,1s0.447,1,1,1h6c0.553,0,1-0.447,1-1S17.553,29,17,29z"/>
	</g>
	<rect x="12" y="52" style="fill:#38454F;" width="4" height="4"/>
	<rect x="33" y="47" style="fill:#556080;" width="4" height="4"/>
	<rect x="25" y="19" style="fill:#ECF0F1;" width="10" height="8"/>
	<g>
		<polygon style="fill:#35495E;" points="49,49.793 59,56 49,43.083 		"/>
		<polygon style="fill:#35495E;" points="43,35.333 37,27.583 37,42.345 43,46.069 		"/>
	</g>
	<g>
		<polygon style="fill:#35495E;" points="11,43.083 1,56 11,49.793 		"/>
		<polygon style="fill:#35495E;" points="17,35.333 17,46.069 23,42.345 23,27.583 		"/>
	</g>
	<path style="fill:#35495E;" d="M23,27v20h4c0-1.65,1.35-3,3-3s3,1.35,3,3h4V27H23z"/>
	<circle style="fill:#8697CB;" cx="26" cy="30" r="1"/>
	<circle style="fill:#BDC3C7;" cx="14" cy="39" r="1"/>
	<circle style="fill:#BDC3C7;" cx="14" cy="42" r="1"/>
	<circle style="fill:#BDC3C7;" cx="14" cy="45" r="1"/>
	<circle style="fill:#BDC3C7;" cx="14" cy="48" r="1"/>
	<circle style="fill:#BDC3C7;" cx="46" cy="39" r="1"/>
	<circle style="fill:#BDC3C7;" cx="46" cy="42" r="1"/>
	<circle style="fill:#BDC3C7;" cx="46" cy="45" r="1"/>
	<circle style="fill:#BDC3C7;" cx="46" cy="48" r="1"/>
	<circle style="fill:#8697CB;" cx="30" cy="30" r="1"/>
	<circle style="fill:#8697CB;" cx="34" cy="30" r="1"/>
	<rect x="23" y="32" style="fill:#8697CB;" width="14" height="2"/>
	<path style="fill:#8697CB;" d="M33,47v4h-6v-4c0-1.65,1.35-3,3-3h0C31.65,44,33,45.35,33,47z"/>
	<rect x="28" y="51" style="fill:#38454F;" width="4" height="3"/>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    </svg>

</template>

<script>
export default {

}
</script>

<style>

</style>
