<template>
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 424.236 424.236" style="enable-background:new 0 0 424.236 424.236;" xml:space="preserve">
<g>
	<path style="fill:#333333;" d="M364.513,210.546c20.66,3.78,36.37,21.9,36.37,43.63c0,22.51-16.86,41.15-38.62,43.98
		c-5.31,30.7-19.9,58.97-42.38,81.45c-28.78,28.78-67.05,44.63-107.75,44.63h-0.01c-40.76,0-79.07-16.1-107.89-45.33
		c-22.08-22.4-36.51-50.38-42.01-80.72c-21.87-2.71-38.87-21.41-38.87-44.01c0-21.73,15.71-39.85,36.37-43.63v-79.66
		c-1.85,1.09-3.6,2.4-5.2,3.96c-4.7,4.54-11.57,5.25-17.09,1.75c-5.52-3.49-7.83-9.99-5.74-16.18l3.9-11.53
		c2.12-6.27,5.23-12.09,9.16-17.26c4.43-41.54,33.15-70.77,83.24-84.59c38.26-10.56,78.89-9.21,117.48,3.89l50.23,17.05
		c15.25-5.38,32.12-3.33,45.71,5.68c14.47,9.6,23.1,25.7,23.1,43.06V210.546z M384.883,254.176c0-12.86-8.61-23.75-20.37-27.21
		v44.88c0,3.22-0.11,6.44-0.31,9.63C376.123,278.116,384.883,267.156,384.883,254.176z M348.513,271.846v-74.31
		c-33.68-3.97-59.89-32.68-59.89-67.41v-21.71c-22.52,23.67-51.81,39.73-84.42,45.94c-40.18,7.65-81.16-0.45-115.4-22.8
		c-4.05-2.64-8.55-4.1-13.08-4.44v143.21c0,36.67,14.17,71.24,39.9,97.34c25.79,26.16,60.06,40.57,96.5,40.57c0,0,0,0,0.01,0
		c36.43,0,70.68-14.19,96.43-39.95C334.333,342.526,348.513,308.276,348.513,271.846z M348.513,181.406V76.716
		c0-12.17-5.81-23-15.95-29.73c-8.65-5.74-18.84-7.4-28.61-4.82l0.67,87.96C304.623,156.016,323.683,177.546,348.513,181.406z
		 M288.583,83.576l-0.63-41.34l-47.62-16.16c-35.55-12.07-72.92-13.32-108.08-3.62c-35.41,9.77-57.92,27.23-67.22,52.02
		c1.38-0.72,2.79-1.41,4.23-2.03c15.88-6.8,33.96-6.52,49.61,0.77c17.85,8.32,39.44,3.82,52.48-10.93l1.99-2.24
		c2.92-3.31,7.98-3.61,11.29-0.69c3.31,2.93,3.62,7.99,0.69,11.29l-1.98,2.25c-17.71,20.01-47,26.11-71.22,14.83
		c-11.54-5.37-24.86-5.58-36.56-0.57c-11.7,5-20.74,14.79-24.81,26.85l-1.56,4.6c14.37-9.83,33.32-10.25,48.35-0.44
		c30.76,20.07,67.58,27.34,103.66,20.47C236.443,131.926,267.373,112.406,288.583,83.576z M60.123,281.496
		c-0.26-3.7-0.4-7.42-0.4-11.17v-43.36c-11.76,3.46-20.37,14.35-20.37,27.21C39.353,267.186,48.163,278.166,60.123,281.496z"/>
	<path :style="skinColor" d="M364.513,226.966c11.76,3.46,20.37,14.35,20.37,27.21c0,12.98-8.76,23.94-20.68,27.3
		c0.2-3.19,0.31-6.41,0.31-9.63V226.966z"/>
	<path :style="skinColor" d="M348.513,197.536v74.31c0,36.43-14.18,70.68-39.95,96.44c-25.75,25.76-60,39.95-96.43,39.95
		c-0.01,0-0.01,0-0.01,0c-36.44,0-70.71-14.41-96.5-40.57c-25.73-26.1-39.9-60.67-39.9-97.34v-143.21c4.53,0.34,9.03,1.8,13.08,4.44
		c34.24,22.35,75.22,30.45,115.4,22.8c32.61-6.21,61.9-22.27,84.42-45.94v21.71C288.623,164.856,314.833,193.566,348.513,197.536z
		 M316.603,234.156c3.13-3.12,3.13-8.19,0-11.31c-11.94-11.94-31.36-11.94-43.3,0c-3.13,3.12-3.13,8.19,0,11.31
		c3.12,3.13,8.19,3.13,11.31,0c5.7-5.7,14.98-5.7,20.68,0c1.56,1.56,3.61,2.34,5.66,2.34
		C312.993,236.496,315.043,235.716,316.603,234.156z M309.923,261.896c0-8.27-6.7-14.98-14.97-14.98c-8.27,0-14.97,6.71-14.97,14.98
		c0,8.27,6.7,14.97,14.97,14.97C303.223,276.866,309.923,270.166,309.923,261.896z M238.843,336.786c3.12-3.12,3.12-8.19,0-11.31
		c-3.13-3.13-8.19-3.13-11.32,0c-4.11,4.11-9.58,6.38-15.4,6.38c-5.82,0-11.29-2.27-15.41-6.38c-3.12-3.13-8.19-3.13-11.31,0
		c-3.13,3.12-3.13,8.19,0,11.31c7.13,7.14,16.62,11.07,26.72,11.07C222.213,347.856,231.703,343.926,238.843,336.786z
		 M150.943,234.156c3.12-3.12,3.12-8.19,0-11.31c-5.79-5.79-13.48-8.97-21.66-8.97c-8.18,0-15.87,3.18-21.65,8.97
		c-3.12,3.12-3.12,8.19,0,11.31c3.13,3.13,8.19,3.13,11.31,0c2.77-2.76,6.44-4.28,10.34-4.28c3.91,0,7.58,1.52,10.34,4.28
		c1.57,1.56,3.61,2.34,5.66,2.34C147.333,236.496,149.383,235.716,150.943,234.156z M144.263,261.896c0-8.27-6.71-14.98-14.98-14.98
		c-8.27,0-14.97,6.71-14.97,14.98c0,8.27,6.7,14.97,14.97,14.97C137.553,276.866,144.263,270.166,144.263,261.896z"/>
	<path :style="hairColor" d="M348.513,76.716v104.69c-24.83-3.86-43.89-25.39-43.89-51.28l-0.67-87.96
		c9.77-2.58,19.96-0.92,28.61,4.82C342.703,53.716,348.513,64.546,348.513,76.716z"/>
	<path :style="hairColor" d="M316.603,222.846c3.13,3.12,3.13,8.19,0,11.31c-1.56,1.56-3.61,2.34-5.65,2.34
		c-2.05,0-4.1-0.78-5.66-2.34c-5.7-5.7-14.98-5.7-20.68,0c-3.12,3.13-8.19,3.13-11.31,0c-3.13-3.12-3.13-8.19,0-11.31
		C285.243,210.906,304.663,210.906,316.603,222.846z"/>
	<path :style="eyeColor" d="M294.953,246.916c8.27,0,14.97,6.71,14.97,14.98c0,8.27-6.7,14.97-14.97,14.97
		c-8.27,0-14.97-6.7-14.97-14.97C279.983,253.626,286.683,246.916,294.953,246.916z"/>
	<path :style="hairColor" d="M287.953,42.236l0.63,41.34c-21.21,28.83-52.14,48.35-87.38,55.06
		c-36.08,6.87-72.9-0.4-103.66-20.47c-15.03-9.81-33.98-9.39-48.35,0.44l1.56-4.6c4.07-12.06,13.11-21.85,24.81-26.85
		c11.7-5.01,25.02-4.8,36.56,0.57c24.22,11.28,53.51,5.18,71.22-14.83l1.98-2.25c2.93-3.3,2.62-8.36-0.69-11.29
		c-3.31-2.92-8.37-2.62-11.29,0.69l-1.99,2.24c-13.04,14.75-34.63,19.25-52.48,10.93c-15.65-7.29-33.73-7.57-49.61-0.77
		c-1.44,0.62-2.85,1.31-4.23,2.03c9.3-24.79,31.81-42.25,67.22-52.02c35.16-9.7,72.53-8.45,108.08,3.62L287.953,42.236z"/>
	<path style="fill:#333333;" d="M238.843,325.476c3.12,3.12,3.12,8.19,0,11.31c-7.14,7.14-16.63,11.07-26.72,11.07
		c-10.1,0-19.59-3.93-26.72-11.07c-3.13-3.12-3.13-8.19,0-11.31c3.12-3.13,8.19-3.13,11.31,0c4.12,4.11,9.59,6.38,15.41,6.38
		c5.82,0,11.29-2.27,15.4-6.38C230.653,322.346,235.713,322.346,238.843,325.476z"/>
	<path :style="hairColor" d="M150.943,222.846c3.12,3.12,3.12,8.19,0,11.31c-1.56,1.56-3.61,2.34-5.66,2.34
		c-2.05,0-4.09-0.78-5.66-2.34c-2.76-2.76-6.43-4.28-10.34-4.28c-3.9,0-7.57,1.52-10.34,4.28c-3.12,3.13-8.18,3.13-11.31,0
		c-3.12-3.12-3.12-8.19,0-11.31c5.78-5.79,13.47-8.97,21.65-8.97C137.463,213.876,145.153,217.056,150.943,222.846z"/>
	<path :style="eyeColor" d="M129.283,246.916c8.27,0,14.98,6.71,14.98,14.98c0,8.27-6.71,14.97-14.98,14.97
		c-8.27,0-14.97-6.7-14.97-14.97C114.313,253.626,121.013,246.916,129.283,246.916z"/>
	<path :style="skinColor" d="M59.723,270.326c0,3.75,0.14,7.47,0.4,11.17c-11.96-3.33-20.77-14.31-20.77-27.32
		c0-12.86,8.61-23.75,20.37-27.21V270.326z"/>
</g>
</svg>

</template>

<script>

import csscolors from '~/utils/colors'

export default {
  props: {
    eye: {
      type: String
    },
    hair: {
      type: String
    },
    skin: {
      type: String
    }
  },
  computed: {
    eyeColor () {
      return {
        fill: csscolors[this.eye]
      }
    },
    hairColor () {
      return {
        fill: csscolors[this.hair]
      }
    },
    skinColor () {
      return {
        fill: csscolors[this.skin]
      }
    }
  }
}
</script>

<style>

</style>
