<template>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 421.563 421.563" style="enable-background:new 0 0 421.563 421.563;" xml:space="preserve">
<g>
	<path style="fill:#B22D04;" d="M358.144,279.083c-1.81,55.24,0.66,95.72,14.93,120.07c-28.25,8.54-58.18,8.68-89.12,0.41
		c-10.26-2.74-19.11-6.06-26.1-9.08c48.14-16.83,84.63-58.71,93.73-109.95C353.834,280.223,356.024,279.733,358.144,279.083z"/>
	<path style="fill:#B22D04;" d="M69.984,280.533c9.1,51.23,45.57,93.1,93.7,109.94c-23.15,9.96-66.96,23.16-115.2,8.67
		c14.27-24.35,16.74-64.83,14.93-120.06C65.534,279.733,67.734,280.223,69.984,280.533z"/>
	<path style="fill:#B22D04;" d="M349.594,91.013c14.16,27.58,14.58,57.58,12.26,109.13c-2.57-1.07-5.27-1.89-8.07-2.43v-8.13
		c0-4.42-3.58-8-8-8c-4.42,0-8,3.58-8,8v18.17c-110.16,1.17-169.85-51.91-185.77-68.51c-1.88-1.96-4.61-2.83-7.27-2.33
		c-2.65,0.51-4.88,2.32-5.91,4.82c-11.62,28.28-31.93,43.07-63.92,46.56c-4.06,0.44-7.13,3.87-7.13,7.95v1.47
		c-2.8,0.54-5.5,1.36-8.08,2.43c-2.32-51.54-1.9-81.53,12.28-109.13c0.86-1.68,1.78-3.36,2.74-5
		c10.53-18.11,30.69-29.52,52.59-29.77c0.03,0,0.09,0,0.11,0c2.43-0.05,4.71-1.2,6.18-3.13c17.27-22.52,43.14-36.01,70.98-37
		c32.71-1.17,64.94,6.81,93.18,23.07C321.504,52.853,338.944,70.293,349.594,91.013z"/>
	<path :style="skinColor" d="M67.784,255.453c0,2.79,0.09,5.56,0.25,8.31c-10.56-3.31-18.25-13.18-18.25-24.82
		c0-11.55,7.57-21.35,18-24.74V255.453z"/>
	<path :style="skinColor" d="M353.784,214.203c10.43,3.39,18,13.19,18,24.74c0,11.64-7.68,21.51-18.25,24.82
		c0.16-2.75,0.25-5.52,0.25-8.31v-39.71c0-0.11,0-0.21,0-0.32V214.203z"/>
	<path :style="skinColor" d="M312.774,231.743c-11.36-11.36-29.86-11.36-41.22,0c-3.13,3.13-3.13,8.19,0,11.32
		c0.81,0.8,1.74,1.4,2.74,1.79c-0.04,0.43-0.07,0.86-0.07,1.3c0,7.74,6.27,14,14,14s14-6.26,14-14c0-0.9-0.09-1.78-0.25-2.64
		c1.48,1.26,3.31,1.89,5.15,1.89c2.04,0,4.09-0.78,5.65-2.34C315.904,239.933,315.904,234.873,312.774,231.743z M205.114,195.893
		c39.49,19.01,84.09,28.38,132.67,27.86v31.7c0,70.03-56.97,127-127,127s-127-56.97-127-127v-52.22
		c30.01-4.94,51.37-19.71,64.91-44.91C160.214,168.833,178.854,183.253,205.114,195.893z M249.784,329.833
		c3.12-3.13,3.12-8.19,0-11.32c-21.51-21.5-56.49-21.5-77.99,0c-3.13,3.13-3.13,8.19,0,11.32c3.12,3.12,8.18,3.12,11.31,0
		c15.26-15.26,40.1-15.27,55.36,0c1.56,1.56,3.61,2.34,5.66,2.34C246.174,332.173,248.214,331.393,249.784,329.833z
		 M150.014,243.063c3.13-3.13,3.13-8.19,0-11.32c-11.36-11.36-29.86-11.36-41.22,0c-3.13,3.13-3.13,8.19,0,11.32
		c2.96,2.96,7.66,3.11,10.8,0.45c-0.16,0.86-0.25,1.74-0.25,2.64c0,7.74,6.27,14,14,14c7.73,0,14-6.26,14-14
		c0-0.44-0.03-0.87-0.07-1.3C148.274,244.463,149.214,243.863,150.014,243.063z"/>
	<path :style="hairColor" d="M349.594,91.013c14.16,27.58,14.58,57.58,12.26,109.13c-2.57-1.07-5.27-1.89-8.07-2.43v-8.13
		c0-4.42-3.58-8-8-8c-4.42,0-8,3.58-8,8v18.17c-110.16,1.17-169.85-51.91-185.77-68.51c-1.88-1.96-4.61-2.83-7.27-2.33
		c-2.65,0.51-4.88,2.32-5.91,4.82c-11.62,28.28-31.93,43.07-63.92,46.56c-4.06,0.44-7.13,3.87-7.13,7.95v1.47
		c-2.8,0.54-5.5,1.36-8.08,2.43c-2.32-51.54-1.9-81.53,12.28-109.13c0.86-1.68,1.78-3.36,2.74-5
		c10.53-18.11,30.69-29.52,52.59-29.77c0.03,0,0.09,0,0.11,0c2.43-0.05,4.71-1.2,6.18-3.13c17.27-22.52,43.14-36.01,70.98-37
		c32.71-1.17,64.94,6.81,93.18,23.07C321.504,52.853,338.944,70.293,349.594,91.013z"/>
	<path :style="hairColor" d="M69.984,280.533c9.1,51.23,45.57,93.1,93.7,109.94c-23.15,9.96-66.96,23.16-115.2,8.67
		c14.27-24.35,16.74-64.83,14.93-120.06C65.534,279.733,67.734,280.223,69.984,280.533z"/>
	<path :style="hairColor" d="M358.144,279.083c-1.81,55.24,0.66,95.72,14.93,120.07c-28.25,8.54-58.18,8.68-89.12,0.41
		c-10.26-2.74-19.11-6.06-26.1-9.08c48.14-16.83,84.63-58.71,93.73-109.95C353.834,280.223,356.024,279.733,358.144,279.083z"/>
	<path style="fill:#333333;" d="M391.824,397.883c1.77,1.96,2.46,4.68,1.84,7.25c-0.63,2.57-2.48,4.66-4.95,5.6
		c-14.83,5.6-35.34,10.83-60.22,10.83c-14.93,0-31.44-1.88-49.24-6.7c-23.2-6.27-39.56-15.07-45.14-18.32
		c-7.59,1.25-15.39,1.91-23.33,1.91c-7.95,0-15.74-0.66-23.34-1.91c-5.58,3.25-21.94,12.05-45.13,18.32
		c-13.35,3.61-30.36,6.69-49.51,6.69c-18.44,0-38.86-2.85-59.96-10.82c-2.47-0.94-4.32-3.03-4.94-5.6
		c-0.63-2.57,0.06-5.29,1.83-7.25c18.74-20.75,19.54-73.63,17.32-128.35c-8.16-7.66-13.27-18.54-13.27-30.59
		c0-10.58,3.94-20.26,10.43-27.65c-2.73-55.8-4.18-93.11,13.54-127.59c0.99-1.93,2.04-3.86,3.14-5.74
		c12.73-21.88,36.39-36.03,62.39-37.58c20.15-24.52,49.35-39.14,80.73-40.26c35.72-1.28,70.89,7.44,101.73,25.19
		c26.46,15.23,46,34.88,58.08,58.39c17.7,34.46,16.25,71.78,13.53,127.58c6.48,7.39,10.43,17.07,10.43,27.66
		c0,12.05-5.11,22.93-13.28,30.6C372.294,324.253,373.084,377.133,391.824,397.883z M371.784,238.943c0-11.55-7.57-21.35-18-24.74
		v1.22c0,0.11,0,0.21,0,0.32v39.71c0,2.79-0.09,5.56-0.25,8.31C364.104,260.453,371.784,250.583,371.784,238.943z M361.854,200.143
		c2.32-51.55,1.9-81.55-12.26-109.13c-10.65-20.72-28.09-38.16-51.83-51.83c-28.24-16.26-60.47-24.24-93.18-23.07
		c-27.84,0.99-53.71,14.48-70.98,37c-1.47,1.93-3.75,3.08-6.18,3.13c-0.02,0-0.08,0-0.11,0c-21.9,0.25-42.06,11.66-52.59,29.77
		c-0.96,1.64-1.88,3.32-2.74,5c-14.18,27.6-14.6,57.59-12.28,109.13c2.58-1.07,5.28-1.89,8.08-2.43v-1.47
		c0-4.08,3.07-7.51,7.13-7.95c31.99-3.49,52.3-18.28,63.92-46.56c1.03-2.5,3.26-4.31,5.91-4.82c2.66-0.5,5.39,0.37,7.27,2.33
		c15.92,16.6,75.61,69.68,185.77,68.51v-18.17c0-4.42,3.58-8,8-8c4.42,0,8,3.58,8,8v8.13
		C356.584,198.253,359.284,199.073,361.854,200.143z M373.074,399.153c-14.27-24.35-16.74-64.83-14.93-120.07
		c-2.12,0.65-4.31,1.14-6.56,1.45c-9.1,51.24-45.59,93.12-93.73,109.95c6.99,3.02,15.84,6.34,26.1,9.08
		C314.894,407.833,344.824,407.693,373.074,399.153z M337.784,255.453v-31.7c-48.58,0.52-93.18-8.85-132.67-27.86
		c-26.26-12.64-44.9-27.06-56.42-37.57c-13.54,25.2-34.9,39.97-64.91,44.91v52.22c0,70.03,56.97,127,127,127
		S337.784,325.483,337.784,255.453z M163.684,390.473c-48.13-16.84-84.6-58.71-93.7-109.94c-2.25-0.31-4.45-0.8-6.57-1.45
		c1.81,55.23-0.66,95.71-14.93,120.06C96.724,413.633,140.534,400.433,163.684,390.473z M68.034,263.763
		c-0.16-2.75-0.25-5.52-0.25-8.31v-41.25c-10.43,3.39-18,13.19-18,24.74C49.784,250.583,57.474,260.453,68.034,263.763z"/>
	<path style="fill:#333333;" d="M249.784,318.513c3.12,3.13,3.12,8.19,0,11.32c-1.57,1.56-3.61,2.34-5.66,2.34
		c-2.05,0-4.1-0.78-5.66-2.34c-15.26-15.27-40.1-15.26-55.36,0c-3.13,3.12-8.19,3.12-11.31,0c-3.13-3.13-3.13-8.19,0-11.32
		C193.294,297.013,228.274,297.013,249.784,318.513z"/>
	<path :style="eyeColor" d="M147.344,246.153c0,7.74-6.27,14-14,14c-7.73,0-14-6.26-14-14c0-1.34,0.19-2.63,0.54-3.85
		c5.16-4.36,12.91-4.1,17.77,0.76c1.56,1.56,3.61,2.34,5.65,2.34c1.36,0,2.71-0.34,3.92-1.03
		C147.304,244.953,147.344,245.553,147.344,246.153z"/>
	<path :style="eyeColor" d="M302.224,246.153c0,7.74-6.27,14-14,14s-14-6.26-14-14c0-0.6,0.04-1.2,0.12-1.78
		c3.04,1.72,6.98,1.28,9.57-1.31c4.86-4.86,12.61-5.12,17.77-0.76C302.034,243.523,302.224,244.813,302.224,246.153z"/>
	<path style="fill:#333333;" d="M148.964,243.063c-0.53,0.53-1.11,0.97-1.74,1.31c-1.21,0.69-2.56,1.03-3.92,1.03
		c-2.04,0-4.09-0.78-5.65-2.34c-4.86-4.86-12.61-5.12-17.77-0.76c-0.29,0.24-0.56,0.49-0.83,0.76c-3.12,3.12-8.19,3.12-11.31,0
		c-3.13-3.13-3.13-8.19,0-11.32c11.36-11.36,29.86-11.36,41.22,0C152.094,234.873,152.094,239.933,148.964,243.063z"/>
	<path style="fill:#333333;" d="M313.824,243.063c-1.56,1.56-3.61,2.34-5.65,2.34c-2.05,0-4.1-0.78-5.66-2.34
		c-0.27-0.27-0.54-0.52-0.83-0.76c-5.16-4.36-12.91-4.1-17.77,0.76c-2.59,2.59-6.53,3.03-9.57,1.31c-0.63-0.34-1.21-0.78-1.74-1.31
		c-3.13-3.13-3.13-8.19,0-11.32c11.36-11.36,29.86-11.36,41.22,0C316.954,234.873,316.954,239.933,313.824,243.063z"/>
</g>
</svg>

</template>

<script>
import csscolors from '~/utils/colors'

export default {
  props: {
    eye: {
      type: String
    },
    hair: {
      type: String
    },
    skin: {
      type: String
    }
  },
  computed: {
    eyeColor () {
      return {
        fill: csscolors[this.eye]
      }
    },
    hairColor () {
      return {
        fill: csscolors[this.hair]
      }
    },
    skinColor () {
      return {
        fill: csscolors[this.skin]
      }
    }
  }
}
</script>

<style>

</style>
