<template>
    <div>
        <h3 class="planet-title">{{planet.name}}</h3>
        <hr class="sepparator" />
        <div class="text-container">
            <p v-for='attr in showAttrs' :key='attr'>
                <b class="attr-name">{{attr}} :</b> {{planet[attr]}}
            </p>
        </div>
        <hr class="sepparator" />
        <div class="residents-container">
            <div class="residents-container-title">Residents</div>
            <hr class="sepparator" />
            <div v-if='loaded' class="residents-list">
                <div v-if='residents.length==0' class="residents-empty">Empty planet</div>
                <template v-for='(resident, index) in residents'>
                    <div class="resident-name" :key='"resindet-name-"+index' @click="openAccordion(resident)">{{resident.name}}</div>
                    <transition name="accordion" :key='"resindet-detail-"+index'>
                        <div class="resident-detail" v-if='resident.active' >
                            <component :is='getResidengGender(resident)'  
                            width="80px"
                            height="100px"
                            :eye='resident.eye_color'
                            :hair='resident.hair_color'
                            :skin='resident.skin_color'
                            class='resident-detail__right-avatar'
                            />
                            <div class="resident-detail__left-info">
                                <p>Height: {{resident.height}}</p>
                                <p>Mass: {{resident.mass}}</p>
                                <p>Birth year: {{resident.birth_year}}</p>
                                <p>Gender: {{resident.gender}}</p>
                            </div>
                        </div>
                    </transition>
                    <hr class="sepparator" :key='"resident-sep-"+index' />
                </template>
            </div>
            <div v-else class="loader-wraper">
                <loader/>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    planet: {
      type: Object
    }
  },
  data () {
    return {
      showAttrs: ['climate', 'terrain', 'diameter', 'gravity', 'orbital_period', 'population', 'rotation_period'],
      residents: [],
      residentGender: {
        'male': 'people-man',
        'female': 'people-woman'
      },
      loaded: false
    }
  },
  watch: {
    planet: {
      handler: 'loadResidents',
      immediate: true
    }
  },
  methods: {
    loadResidents () {
      this.loaded = false
      let nedLoad = this.planet.residents.length

      this.residents = []
      for (let resident of this.planet.residents) {
        axios.get(resident).then((response) => {
          let data = response.data
          data.active = false
          this.residents.push(data)
          nedLoad--
          if (nedLoad === 0) this.loaded = true
        })
      }
      if (nedLoad === 0) {
        this.loaded = true
      }
    },
    getResidengGender (resident) {
      if (Object.keys(this.residentGender).indexOf(resident.gender) > -1) {
        return this.residentGender[resident.gender]
      }
      return 'people-man'
    },
    openAccordion (resident) {
      if (!resident.active) {
        _.map(this.residents, (item) => {
          item.active = false
        })
      }
      resident.active = !resident.active
    }
  }
}
</script>

<style>

.loader-wraper{
    padding: 10px 0px;
    justify-content: center;
    display: flex;
}

.resident-detail{
    display: flex;
    overflow: hidden;
    height: 120px;
    transition: 0.3s;
}

.accordion-leave-active,
.accordion-enter-active {
    
}
.accordion-enter {
    height: 0px;
}
.accordion-enter-to {
    height: 120px;
}
.accordion-leave-to {
    height: 0px;
}

.residents-empty{
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
}

.planet-title, .residents-container-title{
    font-size: 18px;
    padding: 5px 10px;
}

.resident-name{
    cursor: pointer;
    padding: 5px 10px;
}



.text-container{
    padding: 5px 10px;
}

.attr-name{
    font-weight: bold;
}

.resident-detail__left-info{
    padding: 10px 10px;
    line-height: 15pt;
}

.resident-detail__right-avatar{
    padding: 10px 10px;
}

</style>
