@import 'reset';
@import 'vbar';

html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

$leftmenubg: #1E88E5;

.left-chose-block{
  position: fixed;
  max-height: 100vh;
  background: $leftmenubg;
  z-index: 10;
  color: white;
}


.right-info-block{
  position: fixed;
  max-height: 100vh;
  background: $leftmenubg;
  z-index: 10;
  right: 0px;
  top:0px;
  width: 300px;
  color: white;
}


.ship-item{
  padding: 10px;
  cursor: pointer;
}

.ship-item:hover,
.ship-item.slected {
  background: darken($leftmenubg, 10%)
}



hr.sepparator{
  border-color: hsla(0,0%,100%,.12);
  margin: 0px;
}