<template>
  <section>
    <transition name="left-chose-block" v-if='!ship'>
      <div class="left-chose-block">
        <div class="vuebar-element" v-bar>
          <div>
            <template v-for='itemShip in ships'>
              <div 
              class="ship-item" 
              :key='"ship-item-"+itemShip.name' 
              :class="{slected: ship.name == itemShip.name}"
              @click="selectShip(itemShip)">
                {{itemShip.name}}
              </div>
              <hr class="sepparator" :key='"ship-sep-"+itemShip.name'/>
            </template>
          </div>
        </div>
      </div>
    </transition>

    <startmap :planets='planets'/>
    
    <transition name="slide" v-if='selectPlanet'>
       <div class="right-info-block">
        <planet-info :planet='selectPlanet' />
       </div>
    </transition>
    <!--
    <ul class="users">
      <li v-for="(user, index) in users" :key="index" class="user">
        <nuxt-link :to="{ name: 'id', params: { id: index }}">
          {{ user.name }}
        </nuxt-link>
      </li>
    </ul>
    -->
  </section>
</template>

<script>

import axios from '~/plugins/axios'
import {getallships, getallplanets } from '~/utils'

export default {
  components: {
  },
  async asyncData () {
    let ships = await getallships
    let planets = await getallplanets
    return { ships: ships, planets: planets }
  },
  head () {
    return {
      title: 'Test asigment'
    }
  },
  data () {
    return {
      // ship: false
    }
  },
  computed: {
    ship () {
      return this.$store.getters.ship
    },
    selectPlanet () {
      return this.$store.getters.selectPlanet
    }
  },
  methods: {
    selectShip (ship) {
      this.$store.commit('selectShip', ship)
    }
  }
}
</script>

<style>
.left-chose-block-leave-active,
.left-chose-block-enter-active {
  transition: 0.3s;
}
.left-chose-block-enter {
  transform: translate(100%, 0);
}
.left-chose-block-leave-to {
  transform: translate(-100%, 0);
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
</style>

